// Variables
$darkGray: hsl(0, 0%, 59%);
$veryDark: hsl(229, 23%, 23%);
$cardShadow: darken(#19A2AE, 5);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Reset CSS
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
aside,
article,
figure,
figcaption {
    margin: 0;
    padding: 0;
}


// MOBILE

// Wrapper
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}

// Circle patterns (top left and bottom right)
.pattern {
    width: 900px;
    height: 900px;

    &__top {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translateX(-72%) translateY(-65%) rotate(-15deg);

    }

    &__bottom {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        transform: translateX(75%) translateY(60%) rotate(50deg);
    }
}

// Card
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    max-width: 330px;
    height: 380px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 30px $cardShadow, 0 0 30px $cardShadow;
    background-color: #FFF;
    overflow: hidden;

    // Card top
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 140px;
        background-image: url('/assets/img/bg-pattern-card.svg');
        background-size: cover;

        img {
            width: 96px;
            height: 96px;
            margin-top: 85px;
            border-radius: 100px;
            border: 6px solid #fff;
            box-sizing: content-box;
        }

        .name {
            margin-top: 18px;
            font-size: 18px;
            font-weight: bold;
            color: $veryDark;
        }

        .age {
            padding-left: 5px;
            font-weight: normal;
            color: $darkGray;
        }

        .city {
            margin-top: 8px;
            font-size: 14px;
            font-weight: initial;
            color: $darkGray;
        }
    }

    // Card bottom
    &__footer {
        display: flex;
        justify-content: space-around;
        height: 85px;
        padding-top: 20px;
        border-top: 1px solid #e7e7e7;

        .stat {
            display: flex;
            flex-direction: column;
            align-items: center;

            & p:nth-child(1) {
                font-weight: bold;
                color: $veryDark;
                font-size: 18px;
            }

            & p:nth-child(2) {
                padding-top: 5px;
                color: $darkGray;
                font-size: 12px;
            }
        }
    }
}


// DESKTOP BREAKPOINT (>= 1440px)
@media screen and (min-width:1440px) {

    // Circle patterns
    .pattern {
        &__top {
            transform: translateX(0) translateY(0) rotate(0deg);
            top: -60%;
            left: -15%;
        }

        &__bottom {
            transform: translateX(50%) translateY(60%) rotate(50deg);
            right: 18%;
        }
    }
}